<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120604308516-635dfv489ni1c13trj71d983eeh79jvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120604308516-635dfv489ni1c13trj71d983eeh79jvh</string>
	<key>API_KEY</key>
	<string>AIzaSyDiw8df-4hW_WIiQqXxxULFtwGzpMVwA6k</string>
	<key>GCM_SENDER_ID</key>
	<string>120604308516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arik.tictactoe</string>
	<key>PROJECT_ID</key>
	<string>tictactoeapp-b558d</string>
	<key>STORAGE_BUCKET</key>
	<string>tictactoeapp-b558d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120604308516:ios:6f0e77adb9cce7952ad4b1</string>
</dict>
</plist>